/* Fond sombre */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
  animation: fadeIn 0.2s ease-out;
}

/* Popup */
.modal {
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: var(--radius-lg);
  min-width: 350px;
  text-align: center;
  box-shadow: var(--shadow-lg);
  border: 1px solid var(--border-color);
  animation: slideUp 0.2s ease-out;
}

/* Texte */
.modal p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  color: var(--text-main);
  font-weight: 500;
}

/* Boutons */
.modal-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-actions button {
  padding: 0.6rem 1.5rem;
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: transform 0.1s;
}

.modal-actions button:active {
  transform: scale(0.95);
}

/* Bouton "Oui"  */
.modal-actions .confirm {
  background-color: var(--error-color);
  color: white;
}

/* Non */
.modal-actions .cancel {
  background-color: transparent;
  color: var(--text-main);
  border: 1px solid var(--border-color);
}

.modal-actions .confirm:hover {
  background-color: #dc2626;
}

.modal-actions .cancel:hover {
  background-color: #f3f4f6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}